<h2>Instance</h2>
<div class="waiting" [hidden]="isWaitingNotDisplayed"></div>
<div class="alert alert-danger" role="alert" [hidden]="isErrorNotDisplayed">
    <strong>Message</strong> : {{errorMessage}}
</div>
<form class="form-horizontal" [hidden]="isLauncherNotDisplayed">
    <div class="form-group">
        <label class="control-label col-xs-3">Start / Stop the docker instance</label>
        <div class="col-xs-5">
            <button class="btn btn-orange" (click)="start()">Start</button>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Download docker instance</label>
        <div class="col-xs-5">
            <button class="btn btn-orange">Download</button>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Status</label>
        <div class="col-xs-5">
            OK
        </div>
    </div>
</form>
