<h2>Profile</h2>
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-xs-3">Login</label>
        <div class="col-xs-5">
            <input class="form-control" type="text" readonly="true" value="thabart" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Authorization endpoint</label>
        <div class="col-xs-5">
            <input class="form-control" type="text" readonly="true" value="http://localhost:5000/authorization" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Management API endpoint</label>
        <div class="col-xs-5">
            <input class="form-control" type="text" readonly="true" value="http://localhost:5000/authorizationmanagement" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Management website</label>
        <div class="col-xs-5">
            <input class="form-control" type="text" readonly="true" value="http://localhost:5000/authorizationmanagement" />
        </div>
    </div>
</form>