
<header>
    <nav class="navbar navbar-light idserver">
        <div class="container">
            <a class="navbar-brand" href="#">Simple Identity Server</a>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Authenticate</h3>
            <button class="btn btn-orange" (click)="authenticate()">Login</button>
        </div>
        <div class="col-md-8">
            <h3>Create account</h3>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3">Login</label>
                    <div class="col-md-5">
                        <input class="form-control" placeholder="Login" type="text" />
                    </div>
                 </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Password</label>
                    <div class="col-md-5">
                        <input class="form-control" placeholder="Password" type="password" />
                    </div>
                 </div>
                 <div class="form-group col-md-8">                 
                    <button class="btn btn-orange">Register</button>
                 </div>
            </form>
        </div>
    </div>
</div>