<header>
    <nav class="navbar navbar-light idserver">
        <div class="container">
            <a class="navbar-brand" href="#">Simple Identity Server</a>            
            <ul class="nav navbar-nav pull-xs-right" [hidden]="isLogoutNotDisplayed">
                <li>
                    <a (click)="disconnect()" href="#" class="nav-link">Disconnect</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav id-server">
                <li class="nav-item">
                    <a [routerLink]="['Profile']" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['Instance']" class="nav-link">Instance</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">            
            <loggedin-router-outlet></loggedin-router-outlet>
        </div>
    </div>
</div>